html, body {
    height: 100%;
}

.container {
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
}

.form-control{
    width: 100px !important;
}

.button{
    display: flex;
    justify-content: center;
}